@charset "utf-8";
/* CSS Document */

  body {
        background:url(../images/bg_slide.png) no-repeat center 20px #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
.swiper-container{
	margin-top:50px;
}	
.swiper-slide{
	width:860px;
	}
.swiper-slide a{
	transition: 0.2s;
	}	
.swiper-slide a:hover{
	opacity:.6;}	
.swiper-pagination{
	text-align:center;
	width:100%;
	margin-top:10px;}
.swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
	margin:0 5px;
	background:#02328d;
}
.swiper-button-prev{
	width:50%;
	height:360px;
	left:-450px;
	top:0;
	    background: url(../images/ichimatsu.png) repeat 0 0;
    border-radius: 5px;
	margin-top:0;
	z-index:99;
	transition: 0.2s;
	}	
.swiper-button-prev:before{	
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    background: url(../images/slide_prev.png) no-repeat 0 center;
    left: 94%;
    top: 50%;
    margin-top: -180px;
}
.swiper-button-next{
	width:50%;
	height:360px;
	right:-450px;
	top:0;
	background: url(../images/ichimatsu.png) repeat 0 0;
    border-radius: 5px;
	margin-top:0;
	z-index:99;
	transition: 0.2s;
	}
.swiper-button-next:after{	
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;
    background: url(../images/slide_prev.png) no-repeat 0 center;
    right: 94%;
    top: 50%;
    margin-top: -180px;
	transform: rotate(180deg);
}
.swiper-button-prev:hover,.swiper-button-next:hover{
	opacity:0.6;
}