@charset "utf-8";
/* CSS Document */

 body {
        margin: 0;
        padding: 0;
    }
.slide1{background:#146ee9;}	
.slide2{background:#19a1d1;}	
.slide3{background:#f5f8fd;}	
.slide4{background:#a3e9f5;}	
.slide5{background:#1559ae;}	
.swiper-slide{
	text-align:center;}		
.swiper-slide img{
	vertical-align:top; 
	width:80%;}
.swiper-pagination-bullet{
	background:#eee; opacity:1; width:10px; height:10px;}		
.swiper-pagination-bullet-active{
	background:#00a0e9;}		
.swiper-slide-prev,swiper-slide-duplicate-prev{
	transform:translate(50px,0);
	    z-index: 99;
		transition:.2s 0.5s;}
.swiper-slide-next,swiper-slide-duplicate-next{
	transform:translate(-50px,0);
	    z-index: 99;
		transition:.2s 0.5s;}	
.swiper-button-prev,.swiper-button-next{ width:80px; height:80px; background-size:110% 110%; margin-top:-40px; border:4px solid #fff; border-radius:50%; transition:0.3s;}	
.swiper-button-prev:hover,.swiper-button-next:hover{
	transform:scale(1.1,1.1);
	}
.thumb0{background-image:url(../images/btn_img01.png);}
.thumb1{background-image:url(../images/btn_img02.png);}	
.thumb2{background-image:url(../images/btn_img03.png);}	
.thumb3{background-image:url(../images/btn_img04.png);}			
.thumb4{background-image:url(../images/btn_img05.png);}	